<!doctype html>
<html lang="en">

<head>
  <!--Required meta tags-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Here is where I add the BootstrapCSS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

  <!--Here is the link to the site CSS-->
  <link rel="stylesheet" href="css/site.css">
  
  <!--Here is some cheeky JavaScript-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

  <!--Vue3-->
  <script src="https://unpkg.com/vue@next"></script>
  
  <!--DayJS-->
  <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>

  <title>Bootsy's Site</title>
</head>

<body>
  <!--This is a bootstap navbar that looks really great-->
  <header>
    <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
    <div class="container-fluid">
        <h1 class="navbar-brand" id="title">I am Bootsy</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="index.html">About Bootsy</a>
            <a class="nav-link active" aria-current="page" href="books.html">Bootsy's Books</a>
            <a class="nav-link" href="exploits.html">Bootsy's Exploits</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  
  <!--Break for formatting-->
  <br>
  
  <div class="container-fluid">
    <div class="row" id="BookApp">
      
      <!-------------------------------------------------------------TABLE------------------------------------------>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!--Header for the table-->
        <h1 id="book_header">Bootsy's Favorite Books</h1>
        <!--Here begins our table-->
        <table class="table-bordered" id="table1">
          
          <!--Here are the table headers-->
          <thead>
            <th class="text-center">Title</th>
            <th class="text-center">Author(s)</th>
            <th class="text-center">Year Published</th>
            <th class="text-center">Publisher</th>
            <th class="text-center">Page Count</th>
            <th class="text-center">MSRP</th>
          </thead>

          <!--Here begins our table body-->
          <tbody>
            <tr v-for="b in books">
              <td>{{ b.title }}</td>
              <td>{{ b.author }}</td>
              <td>{{ b.yearPublished }}</td>
              <td>{{ b.publisher }}</td>
              <td>{{ b.count }}</td>
              <td>{{ prettyDollar(b.msrp) }}</td>
              <td>
                <button type="button" class="btn btn-outline-secondary btn-sm" v-on:click="selectBookToEdit(b)">Edit</button>
                <button type="button" class="btn btn-outline-secondary btn-sm" v-on:click="postDeleteBook(b)">Delete</button>
              </td>
            </tr>
          </tbody>

        </table>
        <br>  
      </div>
      
      <!------------------------------------------This will begin the form section of this page------------------------>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!--This begins the form-->
        <form v-on:submit.prevent="postBook" id="formy">
          <fieldset>
            <!--Here is our form title-->
            <legend id="form_title"><h3>{{ selectedBook === null ? "Add " : "Edit " }} Book</h3></legend>
            <br>
            <br>
            <!--Here are the form fields-->
            <label for="book_name">Book Name:</label>
            <input type="text" v-model="bookForm.title" name="book_name" id="book_name" required><br><br>

            <label for="book_author">Book Author:</label>
            <input type="text" v-model="bookForm.author" name="book_author" id="book_author" required><br><br>

            <label for="publish_year">Year Published:</label>
            <input type="number" v-model="bookForm.yearPublished" name="publish_year" id="publish_year"><br><br>

            <label for="publisher_name">Publisher:</label>
            <input type="text" v-model="bookForm.publisher" name="publisher_name" id="publisher_name"><br><br>

            <label for="pages_number">Number of Pages:</label>
            <input type="number" v-model="bookForm.count" name="pages_number" id="pages_number"><br><br>

            <label for="msrp_amount">MSRP:</label>
            <input type="text" v-model="bookForm.msrp" name="msrp_amount" id="msrp_amount"><br><br>

            <br>
            <button type="submit" class="btn btn-primary">{{ selectedBook === null ? "Add " : "Edit " }} Book</button>
            <button type="button" class="btn btn-outline-secondary" v-if="selectedBook" v-on:click="resetBookForm">Cancel</button>
            <br>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <!--Break for formatting-->
  <br>
  <br>

  <!--Start Script content for sortable table-->
  <script src="js/tablesort.min.js"></script>
  <script> 
    new Tablesort(document.getElementById('table1'));
  </script>
  <script src="js/books.js"></script>
  <!--End Body Content-->
</body>

<!--Footer Content-->
<footer>
  <p><b>Site owned by Bootsy LLC.</b> | For more information or to report an error please email <a href="mailto:bootsy@bootsymail.com" id="link">bootsy@bootsymail.com</a></p>
</footer>
</html>